:root {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica,
    arial, sans-serif;

  --bg-dark: hsl(240, 3%, 10%);
  --bg: hsl(240, 3%, 15%);
  --bg-light: hsl(240, 3%, 20%);

  --text: hsl(240, 3%, 95%);
  --text-muted: hsl(240, 3%, 70%);

  --primary-30: hsl(0, 70%, 30%);
  --primary-50: hsl(0, 70%, 50%);
  --primary-70: hsl(0, 70%, 70%);

  --border: 1px solid hsl(240, 3%, 30%);
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--bg-dark);
  color: var(--text-muted);
  height: 100vh;
}

h1 {
  margin-bottom: 1rem;
  color: var(--text);
}

a {
  color: inherit;
}

.container {
  padding: 3rem;
  background-color: var(--bg);
  border: var(--border);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(400px, 100%);
}

.generate {
  padding: 0.5rem 1rem 0.75rem 1rem;
  margin-top: 3.5rem;
  cursor: pointer;
  z-index: 1;

  /* font-size: 2rem; */
  font-size: 1.75rem;
  font-weight: 700;

  /* background-image: linear-gradient(0deg, var(--primary-30), var(--primary-50)); */
  /* text-shadow: 0 0 5px var(--text); */
  box-shadow: 0 0 5px var(--primary-50), 0 0 20px var(--primary-50),
    0 0 50px var(--primary-50);
  background-color: var(--primary-50);
  color: var(--text);
  border: none;
  border-radius: 0.5rem;
  transition: transform 0.5s, box-shadow 0.5s;
}

.generate:hover {
  box-shadow: 0 0 5px var(--primary-50), 0 0 20px var(--primary-50),
    0 0 50px var(--primary-50), 0 0 100px var(--primary-50);
  transform: translateY(-4px);
  transition: transform 0.2s, box-shadow 0.2s;
}

.generate:active {
  transform: scale(0.98);
  box-shadow: 0 0 5px var(--primary-50), 0 0 20px var(--primary-50);
}

.link {
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--bg-light);
  border: var(--border);
  border-radius: 0.5rem;
  color: var(--text);
  font-size: 1.125rem;
}
